#index li.chronothermmanudevice {
    text-align: left;
    line-height: 30px;
}
/*PULSANTI*/
#index li.chronothermmanudevice .aprichiudiprogram{
  position: absolute;
  top: 35px;
  left: 35px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}
#index li.chronothermmanudevice .aprichiudiprogram:after{
  position: absolute;
  top: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
}
#index li.chronothermmanudevice .box-gradi-tondo{
  color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  margin-left: 10px;
}
#index li.chronothermmanudevice .tempEffettiva {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: green;
  font-size: 1.4em;
  font-weight: bold;
}
#index li.chronothermmanudevice .tempPresunta {
  width: 72px;
  height: 72px;
  line-height: 56px;
  font-size: 1.1em;
  margin-top: 10px;
}
#index li.chronothermmanudevice .inttempPresunta {
  width: 54px;
  height: 54px;
  position: relative;
  left: 8px;
  top: 8px;
  border-radius: 50%;
}
#index li.chronothermmanudevice .tempPresuntalight {
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-size: 1.1em;
  margin-top: 10px;
}
#index li.chronothermmanudevice div.controls {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  text-align: right;
  white-space: normal;
}
#index li.chronothermmanudevice div.controls .ui-controlgroup {
  display: inline-block;
  margin: 0;
  margin-left: 4px;
  /*margin-top: 2px;
  margin-bottom: 2px;*/
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
}
#index li.chronothermmanudevice .stagione{
  display: inline-block;
  font-size: 13px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  line-height: 20px;
  margin-left: -10px;
  margin-right: -15px;
  cursor: pointer;
}
/*GRAFICO*/
#index li.chronothermmanudevice .globale{
    width: 100%;
    float: left;
    margin-top: 50px;
}
#index li.chronothermmanudevice .graph {
    position: relative;
    width: 100%;
    height: 100px;
}
#index li.chronothermmanudevice .orari {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
}
#index li.chronothermmanudevice .bar {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, green 0%, red 85px);
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}
#index li.chronothermmanudevice .linea {
    position: absolute;
    border-left: 1px solid green;
}
#index li.chronothermmanudevice .orari span {
    font-size: 0.7em;
    margin: 2px;
}
#index li.chronothermmanudevice .graph span {
    position: absolute;
    margin-top: -26px;
    width: 100%;
    text-align: center;
}
/*GRAFICO 2*/
#index li.chronothermmanudevice .graph1 {
    position: relative;
    width: 100%;
    /*height: 100px;*/
    margin-top: 10px;
}
#index li.chronothermmanudevice .bar1 {
    position: absolute;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
/*TIMEOUT*/
#index li.chronothermmanudevice .nascondi{
  display: none;
}
#index li.chronothermmanudevice .puls-mezzo-acceso{
  background-color: green;
}
#index li.chronothermmanudevice .timeoutinput{
  text-align: center;
  width: 110px;
  font-weight: bold;
  color: green;
}
#index li.chronothermmanudevice .timeoutgruppo{
  margin: 5px;
}
#index li.chronothermmanudevice .ui-first-child{
  border-radius: 20px 0 0 20px;
}
#index li.chronothermmanudevice .ui-last-child{
  border-radius: 0 20px 20px 0;
}
/*Clock*/
#index li.chronothermmanudevice .segna-orario{
  position: absolute;
  bottom: 135px;
  width: 25%;
  height: 20px;
  text-align: center;
  border-bottom: 2px solid rgba(0,128,0,0.5);
  font-size: 12px;
}
#index li.chronothermmanudevice .bandella-orario{
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 137px;
  background-color: rgba(0,128,0,0.5);
  }
  #index li.chronothermmanudevice .input-segna-orario{
    position: absolute;
    bottom: 122px;
    width: 25%;
    height: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(255,0,0,0.5);
    font-size: 12px;
  }
  #index li.chronothermmanudevice .input-bandella-orario{
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 122px;
    background-color: rgba(255,0,0,0.5);
  }
/*Clock - Light*/
  #index li.chronothermmanudevice .inputb-light{
    height: 25px;
  }
  #index li.chronothermmanudevice .inputs-light{
    bottom: 25px;
  }
  #index li.chronothermmanudevice .bandella-light{
    height: 40px;
  }
  #index li.chronothermmanudevice .segna-light{
    bottom: 40px;
  }
